<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro ="http://wiki.ros.org/xacro" name="kuka_kr16_2">

    <xacro:include filename="$(find kuka_description)/urdf/description/kr16_2.xacro"/>
    <xacro:include filename="$(find kuka_description)/urdf/control/kuka.ros2_control.xacro"/>

    <link name="world"/>

    <xacro:kuka_arm prefix="kuka_4_"/>

    <joint name="world_to_kuka_4_base" type="fixed">
        <parent link="world"/>
        <child link="kuka_4_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:kuka_kr16_2_ros2_control prefix="kuka_4_"/>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find omnilogix_controller)/config/kuka_4_controller.yaml</parameters>
            <ros>
                <namespace>kuka_4</namespace>
            </ros>
        </plugin>
    </gazebo>

</robot>